<nav class="navbar navbar-expand fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo et titre -->
      <a class="navbar-brand" href="/">
        <img src="images/train.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
        Ticketac
      </a>
      
     <!-- Navbar -->
     <ul class="navbar-nav navbar-brand mb-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-danger" aria-current="page" href="#">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body font-weight-normal" href="#">My last trip</a>
      </li>
    
    </ul>
    </div>
  </nav>