body {
  padding: 100px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background:  linear-gradient( 0deg, #3498db, #FFFFFF);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
  color: #FFFFFF;
  
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}


