body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:  linear-gradient( 5deg, #3498db, #FFFFFF);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#body {
  min-height: 100vh;
  display: flex;
  flex-direction : column;
  align-items: center; 
  justify-content: center;
}

.row {
  position: relative;
  top: 10em;
}

#row-login {
  position: relative;
  top: 0;
  }

#row-homepage {
  position: relative;
  top: -10em;
}

#landmark {
  width : 20vw;
  margin-top : 10vh;
}
  
#unvailable {
  display: flex;
  justify-content: center;
  margin-top: -25%;
}

.row-travels {
  display: block;
  margin-top: -20%;
}

#modal_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
transition: opacity 0.3s ease;
background-color: grey;
}

#modal_container.show {
  pointer-events: auto;
  opacity: 1;
}
/* 
#orders {
  display: flex;
  justify-content: center;
  
  margin-top: -8%;
}*/

.sticky-footer {
  display: flex;
  position: absolute;
  justify-content: center;
  right: 4%;
  bottom: 0;
  width: calc(100% - 90px);
  height: 30px;
}
